# Ignore common Python build artifacts
__pycache__/
*.pyc

# Ignore data files
*.csv
*.parquet
*.hdf5
*.pkl

# Ignore saved models and checkpoints
*.h5
*.keras
checkpoints/

# Ignore virtual environment directories
venv/
.venv/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore miscellaneous files
*.log
*.temp
temp/
